.container
  {
    display: inline-block;
    width: 30%;
    height: 25%;
    border: 5px;
    border-color: red;
    background-color: rgb(225, 247, 247);
    box-sizing: border-box;
    box-shadow: 15px;
    margin-left: 15%;
    border-radius: 25px;
    margin-top: 5%;
    align-items: center;
    
    
  }
  .card
  {
      text-align: center ;
  }
  #img
  {
      margin-top: 10px;
      height: 50px;
      width: 30px;
      border-radius: 15px;
  }
  .readMore
  {
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 5px;
    color: white;
    margin-left: 40%;

  }